<a href="https://colab.research.google.com/github/LakshanJayawardana/RechargeYourPython/blob/main/%5BRecharge_your_Python%5D_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

1. Compute the sum 1*1 + 2*2 + 3*3 + … + 2023*2023 = ?
2. In mathematics, a square number is an integer that is the square of 
an integer, e.g. 1, 4, 9, 16, 25, 36 etc. 

How many square numbers are below 2023?
3. Fibonacci sequence follows the rule that each number is equal to the sum of the preceding two numbers: 0, 1, 1, 2, 3, 5, 8, 13, …

In [ ]:
import sys
sys.set_int_max_str_digits(0)
sum = 0 
n = 2022
val1 = int(n) +1
for i in range(1,val1):
  val = i * (i+1)
  sum = sum + val
print(sum)

2759728048

# Task 2

In [ ]:
def sumOfSquares():
  count =0
  for i in range(0,2024):
    sum = i * i
    if sum <= 2024:
      count += 1
  print("Square numbers belove 2023 :",count-1)
sumOfSquares()

Square numbers belove 2023 : 44

# Task 3

In [ ]:
import sys
sys.setrecursionlimit(3000)
def fibonacci(number):
  if number == 1:
    return 0
  elif number == 2:
    return 1
  else:
    return fibonacci(number-2)+fibonacci(number-1)
x = int(input("Enter required value "))
#for x in range(10):
print(fibonacci(x))

Enter required value 23
17711